<!DOCTYPE html>
	<html>
			<nav>
	    		<ul>
	        		<li><a href="{{ site.baseurl }}">Home</a></li>
		        	<li><a href="{{ site.baseurl }}/about">About</a></li>
	        		<li><a href="{{ site.baseurl }}/cv">CV</a></li>
	        		<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
	    		</ul>
			</nav>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
			{% if page.custom_css %}
			    {% for stylesheet in page.custom_css %}
			    	<link rel="stylesheet" href="{{ site.baseurl }}/css/{{ stylesheet }}.css">
			    {% endfor %}
			{% endif %}
			{% if page.custom_js %}
			    {% for js_file in page.custom_js %}
			    	<script type="text/javascript" src="{{ site.baseurl }}/js/{{ js_file }}.js"></script>
			    {% endfor %}
			{% endif %}
		</head>
		<body>

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tspraul@gmail.com">email</a></li>
        			<li><a href="https://github.com/tspraul">github.com/tspraul</a></li>
				</ul>
			</footer>
		</body>
	</html>
